<section class="hero hero--about-us" style="background-image: url(<%= asset_path('about-us-intro.jpg') %>)">
    <div class="hero__wrap">
        <div class="intro">
            <h1> We provide staffing &amp; engineering <br>services to the Aerospace community</h1>
            <p> We specialize in providing technical staffing (mechanics, technicians, engineers) to service aircraft and perform engineering designs.</p>
            <a class="intro__btn btn__secondary" href="/aerospace-staffing-solutions-and-services">VIEW OUR SOLUTIONS</a>
        </div>
    </div>
</section>

<aside class="sub-nav">
    <div class="sub-nav__wrap">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about-us">About Us</a></li>
        </ol>
    </div>
</aside>

<section class="section section--staffing">
    <div class="section__wrap">
        <div class="section__heading">
            <svg class="section__icon icon icon-staff"><use xlink:href="<%= asset_path('sprite-about.svg#icon-staff') %>"></use></svg>
            <small>STAFFING PROVIDER</small>
            <h2>We Directly Employ The Individuals</h2>
            <p>
                Aerotage is an Aerospace Staffing and Engineering Services Company<br>
                As a staffing company we place our associates onsite to perform work for our customers.
            </p>
        </div>

        <div class="section__inner">
            <div class="feature">
                <div class="feature__icon feature__icon--circle">
                    <svg class="icon icon-locate"><use xlink:href="<%= asset_path('sprite-about.svg#icon-locate') %>"></use></svg>
                    <span class="icon-count">1</span>
                </div>
                <div class="feature__caption">
                    <h4>Locate The Best Tallent</h4>
                    <p>
                        We locate technical & engineering
                        talent. We directly employ's the
                        individuals that will work at our
                        customer’s facilities.
                    </p>
                </div>
            </div>
            <div class="divider__spiral">
                <svg class="icon icon-spiral"><use xlink:href="<%= asset_path('sprite-about.svg#icon-spiral') %>"></use></svg>
            </div>
            <div class="feature">
                <div class="feature__icon feature__icon--circle">
                    <svg class="icon icon-employ"><use xlink:href="<%= asset_path('sprite-about.svg#icon-employ') %>"></use></svg>
                    <span class="icon-count">2</span>
                </div>
                <div class="feature__caption">
                    <h4>Employ The Best Match</h4>
                    <p>
                        Once we have found someone to perform the job task we employ that person and assign them to
                        the customer’s worksite.
                    </p>
                </div>
            </div>
            <div class="divider__spiral">
                <svg class="icon icon-spiral"><use xlink:href="<%= asset_path('sprite-about.svg#icon-spiral') %>"></use></svg>
            </div>
            <div class="feature">
                <div class="feature__icon feature__icon--circle">
                    <svg class="icon icon-enjoy"><use xlink:href="<%= asset_path('sprite-about.svg#icon-enjoy') %>"></use></svg>
                    <span class="icon-count">3</span>
                </div>
                <div class="feature__caption">
                    <h4>Enjoy Your New Job!</h4>
                    <p>
                        The customer has the option of converting the employee to a direct employee of the customer after
                        a period of time.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--what-we-do">
    <div class="section__wrap">
        <div class="section__heading">
            <small>what we do</small>
            <h2>Aerotage Features</h2>
        </div>
        <div class="section__inner">
            <div class="feature">
                <svg class="feature__icon icon icon-engineering"><use xlink:href="<%= asset_path('sprite-about.svg#icon-engineering') %>"></use></svg>
                <div class="feature__caption">
                    <h4>Aerospace Engineering Solutions</h4>
                    <p>
                        Personalized, responsive aerospace engineering solutions and services allow you to focus on your business,
                        while we focus on your engineering and certification needs. Aerotage treats clients as trusted partners, 
                        earning loyalty and trust on everyday basis. We create clear project specifications and certification plans to simplify your product/service development cycle. 
                    </p>
                </div>
            </div>
            <div class="feature">
                <svg class="feature__icon icon icon-recruiting"><use xlink:href="<%= asset_path('sprite-about.svg#icon-recruiting') %>"></use></svg>
                <div class="feature__caption">
                    <h4>Aerospace Recruiting Solutions</h4>
                    <p>
                        We are proactive in our aerospace recruiting solutions and approach offering you only the greatest aero industry talent.
                        Our recruiting team consists of industry experts with vast knowledge and hands-on experience ensuring a complete understanding of client and candidate prerequisites.
                        Aerotage brings unique methodology to resolve both client organizational requirements and career aspirations of potential employee. 
                    </p>
                </div>
            </div>
            <div class="feature">
                <svg class="feature__icon icon icon-staffing"><use xlink:href="<%= asset_path('sprite-about.svg#icon-staffing') %>"></use></svg>
                <div class="feature__caption">
                    <h4>Aerospace Staffing Solutions</h4>
                    <p>
                        Aerotage offers innovative aerospace staffing solutions to satisfy your immediate staffing needs and assist you with long or short term staffing.
                        We constantly develop and maintain our staffing service in order to identify the most qualified professionals’ available.
                        Our team delivers high level of credibility, responsiveness, employment consultation, execution and extraordinary staffing results.
                    </p>
                </div>
            </div>
            <div class="feature">
                <svg class="feature__icon icon icon-current"><use xlink:href="<%= asset_path('sprite-about.svg#icon-current') %>"></use></svg>
                <div class="feature__caption">
                    <h4>Current Aviation Job Openings</h4>
                    <p>
                        Aerotage is working with some of the best firms in aerospace industry. 
                        The opportunities are very wide-ranging Could we use “The opportunities vary from cutting edge research roles to servicing engines.”:
                        from cutting edge research to servicing engines. Aerotage is top resource for job seekers who are looking for a career in the aviation and aerospace industry.
                        View our current aviation job openings and apply today! 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--members">
    <div class="section__wrap">
        <div class="section__heading">
            <svg class="section__icon icon icon-members"><use xlink:href="<%= asset_path('sprite-about.svg#icon-members') %>"></use></svg>
            <small>OUR MEMBERS</small>
            <h2>Meet Aerotage Team</h2>
        </div>

        <div class="section__inner">
            <div class="card">
                <div class="card__block">
                    <h4>Brad Hardwick</h4>
                    <span>President / Co-Founder</span>
                    <p>
                        Brad’s career in aviation began at Ferris State University where he graduated with a degree in Avionics. 
                        Over the proceeding 30 years, Brad held a variety of technical, program management and senior management positions within the business aircraft,
                        helicopter and transport aviation community. 
                    </p>
                    <div class="card__contact">
                        <a href="mailto:brad.hardwick@aerotage.com"><span><svg class="icon icon-mail"><use xlink:href="<%= asset_path('sprite-about.svg#icon-mail') %>"></use></svg></span>brad.hardwick@aerotage.com</a>
                        <a href="tel:+8646335038"><span><svg class="icon icon-smartphone"><use xlink:href="<%= asset_path('sprite-about.svg#icon-smartphone') %>"></use></svg></span>864.633.5038</a>
                    </div>
                    <div class="card__img">
                        <img src="<%= asset_path('person-1.png') %>" alt="pesson"/>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__block">
                    <h4>Mike Simmons</h4>
                    <span>Vice President / Co-Founder</span>
                    <p>
                        Mike’s career in aviation started in the United States Navy where he served on aircraft carriers flight decks.
                        Mike designed avionics integration data packages for aircraft modifications STC approvals.
                        Mike held various technical, engineering and program management positions in the aviation industry. 
                    </p>
                    <div class="card__contact">
                        <a href="mailto:mike.simmons@aerotage.com"><span><svg class="icon icon-mail"><use xlink:href="<%= asset_path('sprite-about.svg#icon-mail') %>"></use></svg></span>mike.simmons@aerotage.com</a>
                        <a href="tel:+3527293404"><span><svg class="icon icon-smartphone"><use xlink:href="<%= asset_path('sprite-about.svg#icon-smartphone') %>"></use></svg></span>352.729.3404</a>
                    </div>
                    <div class="card__img">
                        <img src="<%= asset_path('person-1.png') %>" alt="pesson"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about section--left">
    <div class="section__wrap">
        <div class="section__heading section__text">
            <svg class="section__icon icon icon-mission"><use xlink:href="<%= asset_path('sprite-about.svg#icon-mission') %>"></use></svg>
            <small>working with us</small>
            <h2>
                Shape Your Future Today:
                Your Next Aviation Job Is Here
            </h2>
            <p>
                Aerotage works with the most successful aerospace companies, providing opportunities that vary from cutting edge research roles to servicing engines. Aerotage is a go to resource for all job seekers; from those looking to land their
                first position to the more seasoned professionals looking to advance their career.
            </p>
            <a href="#" class="section__btn btn__secondary">Learn More</a>
        </div>
        <div class="section__img">
            <img src="<%= asset_path('about-bg-1.jpg') %>" alt="section background"/>
        </div>
    </div>
</section>

<section class="section section--values">
    <div class="section__wrap">
        <div class="section__heading">
            <svg class="section__icon icon icon-values"><use xlink:href="<%= asset_path('sprite-about.svg#icon-values') %>"></use></svg>
            <small>OUR VALUES</small>
            <h2>Aerotage Values</h2>
        </div>

        <div class="section__inner">
            <div class="feature feature--left">
                <svg class="feature__icon icon icon-quality"><use xlink:href="<%= asset_path('sprite-about.svg#icon-quality') %>"></use></svg>
                <div class="feature__caption">
                    <h4>Quality Service</h4>
                    <p>
                        Our goal is to provide best in class aerospace staffing and engineering services by staying engaged in the marketplace and innovative in our approach.
                    </p>
                </div>
            </div>
            <div class="feature feature--left">
                <svg class="feature__icon icon icon-integrity"><use xlink:href="<%= asset_path('sprite-about.svg#icon-integrity') %>"></use></svg>
                <div class="feature__caption">
                    <h4>Strong Integrity</h4>
                    <p>
                        Aerotage remains very honest and loyal to all clients and contractors. All information and data shared with Aerotage is secure and highly confidential.
                    </p>
                </div>
            </div>
            <div class="feature feature--left">
                <svg class="feature__icon icon icon-customer"><use xlink:href="<%= asset_path('sprite-about.svg#icon-customer') %>"></use></svg>
                <div class="feature__caption">
                    <h4>Customer Satisfaction</h4>
                    <p>
                        All of our work comes with a customer satisfaction guarantee, from staffing and recruiting to engineering services deliverables. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>