        <section class="hero hero--engineering">
            <div class="hero__bg" style="background-image: url('<%= asset_path("engineering-intro.jpg") %>')"  data-100-center="background-position: 50% 57px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target=".hero"></div>
            <div class="hero__wrap animate fadeIn-top">
                <div class="intro" data-start="opacity: 1" data-top="opacity: 0" data-anchor-target=".intro__btn">
                    <h1>Aerotage offers you offload aerospace engineering solutions</h1>
                    <p>
                        Aerotage offers quality offload aerospace engineering solutions, 
                        developing and implementing long term successful partnerships providing engineering services that help our customers maintain and develop their business.
                    </p>
                    <a class="intro__btn btn__secondary" href="#">contact aerotage</a>
                </div>
            </div>
        </section>

        <aside class="sub-nav">
            <div class="sub-nav__wrap">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/aerospace-staffing-solutions-and-services">Aerospace Stuffing Solutions and Services</a></li>
                    <li><a href="/aerospace-technical-solutions">Onsite Aerospace Technical</a></li>
                    <li class="active">Offload Aerospace Engineering Solutions</li>
                </ol>
            </div>
        </aside>

        <section class="section section--our-team">
            <div class="section__wrap">
                <div class="section__inner">
                    <div class="section__team">
                        <div class="animate fadeIn-right">
                            <span><img src="<%= asset_path("team-member-1.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-2.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-3.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-4.png") %>" alt="team member"/></span>
                        </div>
                        <div class="animate fadeIn-right">
                            <span><img src="<%= asset_path("team-member-1.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-2.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-3.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-4.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-5.png") %>" alt="team member"/></span>
                        </div>
                        <div class="animate fadeIn-right">
                            <span><img src="<%= asset_path("team-member-1.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-2.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-3.png") %>" alt="team member"/></span>
                            <span><img src="<%= asset_path("team-member-4.png") %>" alt="team member"/></span>
                        </div>
                    </div>

                    <div class="section__text animate fadeIn-top">
                        <h3>Some headline is missing here</h3>
                        <p>
                            Broad aerospace industry and engineering knowledge allow us to deliver modern aircraft engineering design respecting deadlines.
                            We have a team of highly skilled engineers and we provide engineering solutions to our clients worldwide.
                            Aerotage professional aerospace engineering solutions team responds right away and works with you to quickly solve your needs for efficient engineering solutions. 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--engineering-solutions">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <svg class="section__icon icon icon-position"><use xlink:href="<%= asset_path('sprite-technical.svg#icon-position') %>"></use></svg>
                    <small>offload aerospace engineering solutions</small>
                    <h2>Offload aerospace engineering solutions provided by Aerotage team includes</h2>
                </div>
                <div class="section__inner">
                    <div class="feature animate fadeIn-top">
                        <h4>Project Requirements</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage team offers unique customer solutions in-house.
                            We generate efficient aerospace business solutions, constantly meeting project requirements in terms of material, time, costs and offset needs.
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Avionics Electrical Design</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage avionics electrical design team located at our USA facilities has broad skill set in design and certification of all aircraft types
                            and aircraft system/subsystem installations. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Aircraft Structural Mechanical Design</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage team provides a strong structural engineering skill set comprising highly qualified engineers
                            and mechanics whose combined proficiency and technique brings great projects to life.
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Certification</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage team can easily fast-track your certification process. We analyze and certify aircraft modifications
                            and have a proven track record for aircraft certification and various government and FAA approvals. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Certification Plan Matrix</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage team offers complete certification plan matrix where we analyze and certify aircraft product compliance with governing requirements: 
                            aircraft structure, engines, aircraft systems/subsystems and flight performance. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Aircraft Weight and Balance Analysis</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage team can help you perform aircraft weight and balance analysis.
                            The information given in the aircraft weight and aircraft balance report is unique to a particular aircraft.
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4> Aircraft Electrical Load Analysis</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage offers services of qualified and licensed aircraft maintenance engineer to perform electrical load analysis (ELA)
                            to ensure that the aircraft electrical system operates properly. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Aircraft Structural Analysis</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage aircraft structural analysis covers aircraft structures assessment of resistance, energy systems,
                            airworthiness/airframe loads and stress study of aircraft parts and components.
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Flight Manual Supplement</h4>
                        <span class="divider"></span>
                        <p>
                            Flight manual supplement is a brochure that covers changes to information and instructions in the basic aircraft flight manual.
                            Aerotage can make these necessary flight manual changes for you in professional, fast and cost-effective manner. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Continued Airworthiness Report</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage provides you continued airworthiness report of all the aircraft processes ensuring that an airplane complies with the technical requirements
                            and is safe for use and in operative state.
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Ground Test Plan/Procedures</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage team uses ground test plan/procedures to uncover potential design errors and avoid flight test surprises.
                            Some of the ground test procedures are: structure-control interaction and testing engine reusability on ground recovery. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>EMI/RFI Test Plan / Procedures</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage team offers services for conducting ground and flight Electro Magnetic Interference (EMI)
                            and Request for Information (RFI) test plan/procedures in accordance with FAA requirements.  
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Flight Test Plan / Procedure</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage performs flight test plan/procedure and collects information during flight.
                            We analyze the information to properly assess the aircraft flight characteristics and validate design.
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Functional Hazard Analysis</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage functional hazard analysis focuses on complex and highly integrated aircraft systems and subsystems.
                            Functional hazard analysis is to categorize the system functions.    
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Program Management</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage program management is a result of global, full-service consulting and engineering.
                            We deliver creative program management skills, proficient talent, and set new standards in quality, worth and cost-efficiency.  
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Manufacturing Liason Support</h4>
                        <span class="divider"></span>
                        <p>
                            AAerotage manufacturing liaison support is in developing aerospace high-technology systems. 
                            Aerotage professionals evaluate and resolve engineering production problems related to manufacturing and paperwork.
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>On-Site Support</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage functional hazard analysis focuses on complex and highly integrated aircraft systems and subsystems.
                            Functional hazard analysis is to categorize the system functions.    
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Engineering Retainers</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage engineering retainers deliver on-demand, high-value services to clients often at short period of time.
                            Engineering retainers are ideal for client who needs engineering and maintenance services, but doesn’t need someone full-time. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Eurocontrol Requirements</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage can help you with The European Organization for the Safety of Air Navigation (Eurocontrol) airworthiness requirements using professional,
                            technical and customized solutions for each aircraft.  
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>Drafting Services</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage aircraft drafting services are extremely accurate and timely engineering drafts done in high quality AutoCAD. 
                            Aerotage engineers have extensive knowledge and experience in the aerospace industry. 
                        </p>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <h4>ATA Maintenance Documents</h4>
                        <span class="divider"></span>
                        <p>
                            Aerotage expert team can help you with ATA Maintenance Documents which are a global aviation industry requirement.
                            Aerotage can minimize cost and staff effort, improving manufacturers' delivery of data that meets airline needs. 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--cta">
            <div class="section__caption animate fadeIn-right">
                <h3>Contact Us Today</h3>
                <p>If you have questions or would like additional information, please provide contact information. We would be glad to speak with you.</p>
                <a href="contact-us.html" class="btn__primary btn__primary--light">Contact Aerotage</a>
            </div>
        </section>
