<% provide(:title, 'Aerotage: Aerospace engineering, staffing and recruiting services') %>
<% provide(:description, 'Aerotage is leader in aerospace staffing, engineering and recruiting services. Get qualified, professional candidates with aerospace recruiting.') %>


<section class="hero hero--FAQ">
    <div class="hero__wrap">
        <div class="intro">
            <h1>Aerotage FAQs</h1>
            <p>Find answers to your questions in how Aerotage works with our associates and customers.</p>
        </div>
    </div>
</section>

<aside class="sub-nav">
    <div class="sub-nav__wrap">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">FAQs</li>
        </ol>
    </div>
</aside>

<section class="section section--faq">
    <div class="section__wrap">

        <div class="section__heading">
            <svg class="section__icon icon icon-job-seeker"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-job-seeker') %>"></use></svg>
            <small>JOB SEEKERS</small>
            <h2>Job Seeker Questions</h2>
        </div>

        <div class="section__group section__group--faq" id="first-accordion" role="tablist" aria-multiselectable="true">

            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-1">
                    <a role="button" data-toggle="collapse" data-parent="#first-accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                        How can I get a job with Aerotage?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-1" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-2">
                    <a role="button" data-toggle="collapse" data-parent="#first-accordion" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                        There is no cost to job seekers.
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-2" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.                           
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-3">
                    <a role="button" data-toggle="collapse" data-parent="#first-accordion" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                        How long do assignments last?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-3" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-4">
                    <a role="button" data-toggle="collapse" data-parent="#first-accordion" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                        Do you accept resumés without going through the website?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-4" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
        </div>

        <div class="section__heading">
            <svg class="section__icon icon icon-clients"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-clients') %>"></use></svg>
            <small>our clients</small>
            <h2>Client Questions</h2>
        </div>

        <div class="section__group section__group--faq" id="second-accordion" role="tablist" aria-multiselectable="true">

            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-5">
                    <a role="button" data-toggle="collapse" data-parent="#second-accordion" href="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                        How can Aerotage help me to find the best match employee?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-5" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-5">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-6">
                    <a role="button" data-toggle="collapse" data-parent="#second-accordion" href="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
                        What experiences does Aerotage suggest make a contractor a good candidate?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-6" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-6">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.                           
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-7">
                    <a role="button" data-toggle="collapse" data-parent="#second-accordion" href="#collapse-7" aria-expanded="true" aria-controls="collapse-7">
                        What is Aerotage organization’s culture like? 
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-7" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-7">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-8">
                    <a role="button" data-toggle="collapse" data-parent="#second-accordion" href="#collapse-8" aria-expanded="true" aria-controls="collapse-8">
                        My company wants to hire Aerotage for staffing services. What is next step?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-8" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-8">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-9">
                    <a role="button" data-toggle="collapse" data-parent="#second-accordion" href="#collapse-9" aria-expanded="true" aria-controls="collapse-9">
                        What are technical staffing solution options?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-9" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-9">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-10">
                    <a role="button" data-toggle="collapse" data-parent="#second-accordion" href="#collapse-10" aria-expanded="true" aria-controls="collapse-10">
                        How can we contact Aerotage?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-10" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-10">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
            <div class="section__panel panel">
                <div class="section__panel-title" role="tab" id="heading-11">
                    <a role="button" data-toggle="collapse" data-parent="#second-accordion" href="#collapse-11" aria-expanded="true" aria-controls="collapse-11">
                        How does recruiting and engineering solutions work with Aerotage?
                    </a>
                    <span> <svg class="icon icon-navigate"><use xlink:href="<%= asset_path('sprite-faq.svg#icon-navigate') %>"></use></svg></span>
                </div>
                <div id="collapse-11" class="section__panel-collapse collapse" role="tabpanel" aria-labelledby="heading-11">
                    <div class="section__panel-body">
                        No, all applications must be made online. The online process allows us to track your resumé
                        and ensure it is in our workflow so that it can circulate easily within the Aerotage organization.
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


        <%= javascript_include_tag "jquery.min" %>
        <%= javascript_include_tag "bootstrap.min" %>
        <%= javascript_include_tag "svgxuse" %>
        <%= javascript_include_tag "jquery.mCustomScrollbar.min" %>
        <%= javascript_include_tag "enquire.min" %>
        <%= javascript_include_tag "main" %>