.container.main-page
  .browse-by
    %div Browse Jobs By:
    %ul
      %li= link_to 'City', browse_city_path(first_letter: 'A')
      %li= link_to 'State', browse_state_path
      %li= link_to 'Zip', browse_zip_code_path(first_letter: '0')

  .aerotage-logo= image_tag('logo.svg')

  = render 'jobs/search_form', job_ransack: Job.ransack

  .row
    .col-xs-12.col-md-6.welcome-panel
      %h1 Welcome to AerotageJobs!
      .welcome-slider
        %ul.bxslider.hidden
          - 4.times do
            %li
              .slider-img
              %p Our premium job board enables JOB SEEKERS and EMPLOYERS locally and worldwide to connect within any industry.
              = link_to 'More >>', '#', class: 'read-more'

    .col-xs-12.col-md-6.featured-companies
      %h1 Featured Companies
      = render 'employers/featured_employers', employers: featured_employers

  .block-wrapper
    .ad-block Google AdSense Block
    .featured-jobs
      %h1 Featured Jobs
      = render 'jobs/featured_jobs', jobs: featured_jobs

  .block-wrapper
    #tabs
      %ul
        %li= link_to 'Latest Jobs', '#latest-jobs'
        %li= link_to 'Latest Blog', '#latest-blog'
      #latest-jobs
        = render 'jobs/latest_jobs', jobs: latest_jobs
      #latest-blog
        .items-list
          = render latest_posts

- include_script 'home'
