        <section class="hero hero--overview">
            <div class="hero__bg" style="background-image: url('<%= asset_path('overview-intro.jpg') %>')"  data-center="background-position: 50% 57px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target=".hero"></div>
            <div class="hero__wrap animate fadeIn-top">
                <div class="intro" data-start="opacity: 1" data-top="opacity: 0" data-anchor-target=".intro__btn">
                    <h1>
                        Aerotage Overview
                    </h1>
                    <p>
                        Aerotage is an industry leading aerospace staffing and engineering firm.
                        Our goal is to provide creative, cost effective workplace solutions to meet our client’s unique business needs.
                    </p>
                    <a class="intro__btn btn__secondary" href="/contact-us">CONTACT AEROTAGE</a>
                </div>
            </div>
        </section>

        <aside class="sub-nav">
            <div class="sub-nav__wrap">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Aerotage Overview</li>
                </ol>
            </div>
        </aside>

        <section class="section section--expertise">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <svg class="section__icon icon icon-expertise"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-expertise') %>"></use></svg>
                    <small>AEROTAGE EXPERTISE</small>
                    <h2>Expertise In Key Sectors</h2>
                </div>

                <div class="section__inner animate fadeIn-top">
                    <ul class="section__list">
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Aircraft Maintenance Technicians</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Interior Mechanics</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Avionics Technicians</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Electrical Systems</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Manufacturing Quality Inspectors</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Composite Technicians</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Manufacturing</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Structural/Airframe</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Management/Supervisors/Leads</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Mechanical & Avionics Systems</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>FAA Quality Inspectors</li>
                        <li><span><svg class="section__icon icon icon-checked-mark"><use xlink:href="<%= asset_path('img/sprite-overview.svg#icon-checked-mark') %>"></use></svg></span>Structural Technicians</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section section--staff">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <div class="divider"></div>
                    <small>AEROTAGE staffing</small>
                    <h2>Aerotage Staffing Solutions</h2>
                    <p>Quickly finding a great match between clients and candidates saves you time and money, and helps you get back to running your business.</p>
                </div>

                <div class="section__inner">
                    <div class="feature animate fadeIn step-1">
                        <svg class="feature__icon icon icon-job"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-job') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Careful Job Seekers Screening</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn step-2">
                        <svg class="feature__icon icon icon-analyze"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-analyze') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>In-depth Analyze Contractors' Experience</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn step-3">
                        <svg class="feature__icon icon icon-job"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-job') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Help Clients To Identify Job Requirements</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn step-4">
                        <svg class="feature__icon icon icon-worksite"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-worksite') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Assign Candidates To Clients Worksite</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--recruiting">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <div class="divider"></div>
                    <small>AEROTAGE recruiting</small>
                    <h2>Aerotage Recruiting Solutions</h2>
                    <p>Quickly finding a great match between clients and candidates saves you time and money, and helps you get back to running your business.</p>
                </div>

                <div class="section__inner animate fadeIn-top">
                    <div class="feature">
                        <div class="feature__caption">
                            <p>
                                We have specialized technical search programs & leading edge techniques in place that allow Aerotage Recruiting Solutions
                                to provide experienced & qualified personnel ranging from contractors, temporary personnel to direct hires.
                            </p>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature__caption">
                            <p>
                                We can remove the time and expense that drive costs up for companies to advertise, interview, background or drug screen, train,
                                burden Human Resources' and ensure compliance with local, state and Federal laws. 
                            </p>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="feature__caption">
                            <p>
                                Aerotage Recruiting Solutions is also driven by our employees and the strong pipeline of well qualified and reliable candidates.
                                Commitment to provide our customers with the perfect fit makes Aerotage the best recruiting solution.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--offer">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <div class="divider"></div>
                    <h2>What Our Recruiting Solutions Offer?</h2>
                </div>

                <div class="section__inner">
                    <div class="feature feature--left animate fadeIn-top">
                        <div class="feature__box">
                            <div class="feature__icon feature__icon--circle aviation">
                                <svg class="icon icon-aviation"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-aviation') %>"></use></svg>
                            </div>
                            <div class="feature__caption">
                                <h4>The Aviation Industry's Best</h4>
                                <p>
                                    With our established presence and key relationships within the aviation industry,
                                    our job opportunities come from many of the industry’s most recognized and respected firms.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature feature--left animate fadeIn-top">
                        <div class="feature__box">
                            <div class="feature__icon feature__icon--circle">
                                <svg class="icon icon-positioning"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-positioning') %>"></use></svg>
                            </div>
                            <div class="feature__caption">
                                <h4>Strategic Positioning</h4>
                                <p>
                                    We act as a liaison between you and the client – passionately promoting you,
                                    negotiating on your behalf, and never compromising your current position.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature feature--left animate fadeIn-top">
                        <div class="feature__box">
                            <div class="feature__icon feature__icon--circle">
                                <svg class="icon icon-response"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-response') %>"></use></svg>
                            </div>
                            <div class="feature__caption">
                                <h4>An Expeditious Response</h4>
                                <p>
                                    We personally assess all online applications and if qualified, will contact you immediately to discuss the position in detail. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature feature--left animate fadeIn-top">
                        <div class="feature__box">
                            <div class="feature__icon feature__icon--circle">
                                <svg class="icon icon-knowledge"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-knowledge') %>"></use></svg>
                            </div>
                            <div class="feature__caption">
                                <h4>Specific Knowledge and Experience</h4>
                                <p>
                                    Our staff is comprised of aviation professionals, with
                                    military and commercial aviation experience. We have
                                    track record spanning over 10 years recruiting,
                                    engineering and technical level openings.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--engineer">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <div class="divider"></div>
                    <small>AEROTAGE engineering</small>
                    <h2>Aerotage Engineering Solutions</h2>
                </div>

                <div class="section__inner">
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-requirements"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-requirements') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Aerospace Project Requirements</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-electrical"><use xlink:href="<%=  asset_path('sprite-overview.svg#icon-electrical') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Avionics/<br> Electrical Design</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-mechanical"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-mechanical') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Aircraft Structural And Mechanical Design</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-program"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-program') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Aerospace Program Management</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-liaison"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-liaison') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Manufacturing Liaison Support</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-on-site"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-on-site') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>On-Site Support</h4>
                        </div>
                    </div>  
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-retainers"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-retainers') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Aviation Engineering Retainers</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-eurocontrol"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-eurocontrol') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Eurocontrol Avionics Requirements</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-services"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-services') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Aircraft Drafting Services</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-maintenance"><use xlink:href="<%= asset_path('sprite-overview.svg#icon-maintenance') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>ATA Maintenance Documents</h4>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <svg class="feature__icon icon icon-certification"><use xlink:href="<%=  asset_path('sprite-overview.svg#icon-certification')%>"></use></svg>
                        <div class="feature__caption">
                            <h4>Certification</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>


                
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "enquire.min" %>
<%= javascript_include_tag "svgxuse" %>
<%= javascript_include_tag "jquery.mCustomScrollbar.min" %>
<%= javascript_include_tag "enquire.min" %>
<%= javascript_include_tag "skrollr.min" %>
<%= javascript_include_tag "main" %>