<% provide(:title, 'Privacy Policy') %>

        <section class="hero hero--policy" style="background-image: url('<%= asset_path('privacy-policy-intro.jpg') %>')">
            <div class="hero__wrap">
                <div class="intro">
                    <h1>
                        Privacy Policy
                    </h1>
                    <p>
                        Important information on how Aerotage<br> 
                        protects your information.
                    </p>
                </div>
            </div>
        </section>

        <aside class="sub-nav">
            <div class="sub-nav__wrap">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Privacy Policy</li>
                </ol>
            </div>
        </aside>

        <section class="section">
            <div class="section__wrap">
                <div class="section__content section__content--privacy">
                    <div class="para">
                        <h2>The Aerotage Web Site Privacy Statement</h2>
                        <p>
                            The privacy, confidence, and trust of individuals who visit Aerotage.com are important to us.
                            No personal information is collected at this site unless it is provided voluntarily by an individual while
                            participating in an activity that asks for the information. The following paragraphs disclose the information gathering and usage practices for the website.
                        </p>
                    </div>
                    <div class="para">
                        <h2>Collection of Information</h2>
                        <p>
                            Aerotage.com only collects the personal information that is necessary to provide the information or services requested by an individual.
                            "Personal information" refers to any information relating to an identified or identifiable individual who is the subject of the information.
                            We also collect statistical information that helps us understand how people are using the web site so we can continually improve our services.
                            The information collected is not associated with any specific individual and no attempt is made to profile individuals who browse the web site.
                            You may be asked to participate in surveys at this site. Participation is optional,
                            and the choice to participate or not to participate will have no effect on your ability to use other features of the site.
                        </p>
                    </div>
                    <div class="para">
                        <h2>Use of Information</h2>
                        <p>
                            Aerotage.com uses the collected information to respond appropriately to requests.
                            This may be to respond directly to you or to improve the web site.
                            E-mail or other information requests sent to Aerotage.com may be maintained or forwarded to the appropriate individuals 
                            or employer/clients in order to respond to the request. Survey information is used for the purpose designated in the survey.  
                        </p>
                    </div>
                    <div class="para">
                        <h2>Retention of Information</h2>
                        <p>
                            Records needed to support Aerotage.com functions are retained, managed, and accessible in record-keeping or filing systems.
                            Records transmitted to this site will be identified, managed, protected, and retained as long as they are needed to meet historical,
                            administrative, fiscal, or legal requirements.
                        </p>
                    </div>
                    <div class="para">
                        <h2>Web Site Security</h2>
                        <p>
                            Aerotage.com is committed to the security of the information that is either available from or collected by this website.
                            Aerotage.com has taken multiple steps to safeguard the integrity of its telecommunications and computing infrastructure,
                            including but not limited to, authentication, monitoring, auditing, and encryption.  
                        </p>
                    </div>
                    <div class="para">
                        <h2>Links to Other Sites</h2>
                        <p>
                            This website has links to many other web sites. These include links to websites operated by government agencies, nonprofit organizations,
                            and private businesses. Neither Aerotage.com nor Aerotage Design Group,
                            Inc. is responsible for the content or privacy practices of these sites and suggests you review their privacy statements.
                        </p>
                    </div>
                    <div class="para">
                        <h2>Contact Information</h2>
                        <p>
                            Aerotage Design Group, Inc. welcomes comments regarding this privacy statement.
                            Please convey any questions or concerns to: admin@aerotage.com or  P.O. Box 1026 Central, SC 29630.
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <%= javascript_include_tag "jquery.min" %>
        <%= javascript_include_tag "bootstrap.min" %>
        <%= javascript_include_tag "enquire.min" %>
        <%= javascript_include_tag "jquery.mCustomScrollbar.min" %>
        <%= javascript_include_tag "svgxuse" %>
        <%= javascript_include_tag "main" %>