<section class="hero hero--staffing" style="background-image: url(<%= asset_path('staffing-solutions-intro.jpg') %>)">
    <div class="hero__wrap">
        <div class="intro">
            <h1>Aerospace Staffing Solutions and Services</h1>
            <p> Get professional engineers, technicians, mechanics and managers with Aerotage.</p>
            <a class="intro__btn btn__secondary" href="/contact-us">contact aerotage</a>
        </div>
    </div>
</section>

<aside class="sub-nav">
    <div class="sub-nav__wrap">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Aerospace Stuffing Solutions and Services</li>
        </ol>
    </div>
</aside>

<section class="section staffing section--left">
    <div class="section__wrap">
        <div class="section__heading">
            <svg class="section__icon icon icon-services"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-services') %>"></use></svg>
            <small>our services</small>
            <h2>Aerotage Professional Aerospace Staffing</h2>
        </div>
        <div class="section__inner">
            <div class="section__text">
                <h3>Tailored Approach</h3>
                <p>
                    Aerotage professional aerospace staffing solutions helps you find qualified aviation industry experts you can trust, saving time and resources. Our professional recruiters have aviation experts on their radar and will provide you specialized personnel when and where you need them. Our aerospace staffing specialists can quickly deliver aviation experts you need.  
                    The Aerotage team provides individuals with high skills and experience 
                    in order to fulfill and exceed clients’ expectations. 
                </p>
            </div>
            <div class="section__img">
                <img src="<%= asset_path('staffing-bg-1.jpg') %>" alt="section background"/>
            </div>
        </div>
    </div>
</section>

<section class="section staffing section--right">
    <div class="section__wrap">
        <div class="section__inner">
            <div class="section__img">
                <img src="<%= asset_path('staffing-bg-2.jpg') %>" alt="section background"/>
            </div>
            <div class="section__text">
                <h3>Committed to Excellence</h3>
                <p>
                    The staffing process involves position assessment and applicant evaluation leading to professional engagement.
                    Aerotage specializes in aerospace staffing solutions and with more than a decade of experience in aerospace industry,
                    we make sure customer is provided with complete service requested. Aerotage sources individuals from a vast network and database.
                    Candidates pass intense testing and screening procedures after which each candidate’s performance is monitored. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section staffing section--left">
    <div class="section__wrap">
        <div class="section__text">
            <h3>Subheadline</h3>
            <p>
                Aerotage success is driven by creative and extremely active aerospace staffing solutions as well as involvement in selecting only the best candidates in aviation industry,
                allowing you to focus on your business development.
                Aerotage can help you run your project from start to finish with our temporary staffing, contract or direct aerospace staffing solutions.
            </p>
        </div>
        <div class="section__img">
            <img src="<%= asset_path('staffing-bg-3.jpg') %>" alt="section background"/>
        </div>
    </div>
</section>

<section class="section staffing section--values">
    <div class="section__wrap">

        <div class="section__inner">
            <div class="feature">
                <div class="feature__icon feature__icon--circle">
                    <svg class="icon icon-temporary"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-services') %>sprite-staffing.svg#icon-temporary"></use></svg>
                </div>
                <div class="feature__caption">
                    <h4>Temporary Staffing</h4>
                    <p>
                        Aerospace temporary staffing can support your current staffing process and help you with project completion, enabling you to direct hire staff you see fit your business demands.
                        This process is called temporary-to-permanent and it became a popular approach of “try before you buy” (candidate's skills are tested on-site before permanent hire). 
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature__icon feature__icon--circle">
                    <svg class="icon icon-contact"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-contact') %>"></use></svg>
                </div>
                <div class="feature__caption">
                    <h4>Contract Staffing</h4>
                    <p>
                        Aerospace contract staffing is used when client needs to bring highly qualified staff quickly to handle a sudden increase in workload. 
                        After work is done and work capacity decreases or project is completed, 
                        the contract ends, and we help the contractor to start working on new project immediately. 
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature__icon feature__icon--circle">
                    <svg class="icon icon-direct"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-direct') %>"></use></svg>
                </div>
                <div class="feature__caption">
                    <h4>Direct Staffing</h4>
                    <p>
                        Aerospace direct staffing solutions can be seen across a variety of industries, and are very popular in the aerospace industry as well.
                        Aerotage direct staffing solution can keep your business and projects moving forward with fully vetted, skilled personnel and engineers who
                        can fulfill most complex technical requirements and increase the productivity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--technical">
    <div class="section__wrap">
        <div class="section__heading">
            <svg class="section__icon icon icon-onsite"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-onsite') %>"></use></svg>
            <small>Onsite Aerospace Technical Services</small>
            <h2>Aerotage Staffing Services</h2>
            <p>
                Aerotage technical and engineering staffing services offer our clients a wide network of aerospace professionals and skilled experts.
                Aerotage managers, inspectors, mechanics, engineers and technicians have experience working on different aerospace projects as well as
                working onsite at clients’ facilities, across platforms and working on aircraft and/or aircraft parts and components. 
            </p>
        </div>
        <div class="section__inner">
            <div class="section__links">
                <div class="section__list">
                    <h4>Onsite Aerospace Technical</h4>
                    <ul>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Onsite Aerospace Technical</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Aircraft Maintenance Technicians (A&P)</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Structural Technicians</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Avionics Technicians</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>FAA Quality Inspectors</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Manufacturing Quality Inspectors </a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Aircraft Interior Mechanics</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Aircraft composite Technicians</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Management/Supervisors/Leads</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Manufacturing</a></li>
                    </ul>
                </div>
                <div class="section__list">
                    <h4>Onsite Aerospace Technical</h4>
                    <ul>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Onsite Aerospace engineering services</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Avionics Systems</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Electrical Systems</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Structural/Airframe</a></li>
                        <li><a href="#"><span><svg class="icon icon-arrow-link"><use xlink:href="<%= asset_path('sprite-staffing.svg#icon-arrow-link') %>"></use></svg></span>Mechanical System</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>