        <section class="hero hero--working" style="background-image: url(<%= asset_path('work-intro.jpg') %>)">
            <div class="hero__wrap">
                <div class="intro">
                    <h1> Working with Us</h1>
                    <p> We specialize in providing technical staffing (mechanics, technicians, engineers) to service aircraft and perform engineering designs.</p>
                    <a class="intro__btn btn__secondary" href="#">create an account</a>
                </div>
            </div>
        </section>

        <aside class="sub-nav">
            <div class="sub-nav__wrap">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Working with Us</li>
                </ol>
            </div>
        </aside>

        <section class="section working section--box">
            <div class="section__wrap">
                <div class="section__inner">
                    <div class="feature">
                        <svg class="feature__icon icon icon-fresh"><use xlink:href="<%= asset_path('sprite-working.svg#icon-fresh') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Fresh Job Offers</h4>
                            <p>
                                The majority of our positions are
                                contract opportunities, with flexibility
                                to address short-term employment.
                            </p>
                        </div>
                    </div>
                    <div class="feature">
                        <svg class="feature__icon icon icon-support"><use xlink:href="<%= asset_path('sprite-working.svg#icon-support') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>We Support You</h4>
                            <p>
                                We are stick with you - supporting on
                                your first day, helping your contract &
                                preparing for your next opportunity.
                            </p>
                        </div>
                    </div>
                    <div class="feature">
                        <svg class="feature__icon icon icon-opportunities"><use xlink:href="<%= asset_path('sprite-working.svg#icon-opportunities') %>"></use></svg>
                        <div class="feature__caption">
                            <h4>Employment Opportunities</h4>
                            <p>
                                We provide equal employment &
                                advancement opportunities to all
                                individuals - no discrimination.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--tools">
            <div class="section__wrap">
                <div class="section__heading">
                    <svg class="section__icon icon icon-tools"><use xlink:href="<%= asset_path('sprite-working.svg#icon-tools') %>"></use></svg>
                    <small>what we use</small>
                    <h2>Tools & Resources</h2>
                </div>

                <div class="section__inner">

                    <div class="feature feature--left">
                        <div class="feature__icon">
                            <svg class="icon icon-ADP"><use xlink:href="<%= asset_path('sprite-working.svg#icon-ADP') %>"></use></svg>
                            <svg class="icon icon-circle"><use xlink:href="<%= asset_path('sprite-working.svg#icon-circle') %>"></use></svg>
                        </div>
                        <div class="feature__caption">
                            <h4>ADP Web Portal & W-2 Online</h4>
                            <div class="divider-sm"></div>
                            <p>
                                Access your pay stub & W-2 online.  ADP provides
                                an employee portal to access information on
                                your payroll and benefit package.
                            </p>
                        </div>
                    </div>
                    <div class="feature feature--left">
                        <div class="feature__icon">
                            <svg class="icon icon-harvestapp"><use xlink:href="<%= asset_path('sprite-working.svg#icon-harvestapp') %>"></use></svg>
                            <svg class="icon icon-circle"><use xlink:href="<%= asset_path('sprite-working.svg#icon-circle') %>"></use></svg>
                        </div>
                        <div class="feature__caption">
                            <h4>Harvestapp.com</h4>
                            <div class="divider-sm"></div>
                            <p>
                                Track associate hours worked & trigger a widget to enter time worked. 
                                Timesheets are automatically generated after the submission of time work.

                            </p>
                        </div>
                    </div>
                    <div class="section__center">
                        <a href="#" class="section__btn btn__secondary">View More Details</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section working section--left">
            <div class="section__wrap">

                <div class="section__inner">
                    <div class="section__heading section__text">
                        <svg class="section__icon icon icon-verification"><use xlink:href="<%= asset_path('sprite-working.svg#icon-verification') %>"></use></svg>
                        <small>verification</small>
                        <h2>Employment Verification</h2>
                        <p>
                            We provide secure employment verification. All personal information shared with Aerotage is secure and confidential. 
                        </p>
                        <a href="#" class="section__btn btn__reverse--sec">More About Verification</a>
                    </div>
                    <div class="section__img">
                        <img src="<%= asset_path('working-bg-1.jpg') %>" alt="section background"/>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--read">
            <div class="section__wrap">
                <div class="box">
                    <div class="box__icon">
                        <svg class="icon icon-read"><use xlink:href="<%= asset_path('sprite-working.svg#icon-read') %>"></use></svg>
                    </div>
                    <div class="box__caption">
                        <small>read FAQs</small>
                        <h2>Answers For All Your Questions</h2>
                        <p>
                            Do you have some questions about Aerotage? Are you a a job seeker or employee searching for your best candidate?
                            Read our FAQs and stay always informed about our network.
                        </p>
                        <a class="box__btn btn__light" href="/faq">Read FAQs</a>
                    </div>
                    <div class="box__line"></div>
                </div>
            </div>
        </section>

        <section class="section working section--right">
            <div class="section__wrap">
                <div class="section__inner">
                    <div class="section__img">
                        <img src="<%= asset_path('working-bg-2.jpg') %>" alt="section background"/>
                    </div>
                    <div class="section__heading section__text">
                        <svg class="section__icon icon icon-social"><use xlink:href="<%= asset_path('sprite-working.svg#icon-social') %>"></use></svg>
                        <small>we are social</small>
                        <h2>Social Gallery</h2>
                        <div class="divider"></div>
                        <p>
                            Use Aerotage social networking to make connection with us and to stay in touch with latest job information.
                            Facebook & Twitter feed helps you to make job seeking or recruiting activities even more easier.
                        </p>
                        <a href="#" class="section__btn btn__reverse--sec">View Social Feed</a>
                    </div>
                </div>
            </div>
        </section>

<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "svgxuse" %>
<%= javascript_include_tag "jquery.mCustomScrollbar.min" %>
<%= javascript_include_tag "enquire.min" %>
<%= javascript_include_tag "skrollr.min" %>
<%= javascript_include_tag "main" %>