<% required = false if local_assigns[:required].nil? %>
<% object = f.object.send(field) %>

<%= f.fields_for field do |ff| %>
  <div class="form-group">
    <%= ff.label field, class: "col-sm-4 control-label #{required ? 'required' : ''}" %>
    <div class="col-sm-8">
      <% if object.stored? %>
        <%= link_to object.url, target: '_blank' do %>
          <video>{ controls: '', height: '240', width: '320' }
            %source{ src: object.url, type: 'video/mp4' }
            Your browser does not support the video tag.
          </video>
        <% end %>
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, 'Remove?' %>
      <% end %>
      <%= ff.file_field :video %>
      <%= ff.hidden_field :retained_video %>
      <p class="help-block">Accepted formats: flv, mov, mp4, avi. Max file size: 20 MB</p>
    </div>
  </div>
<% end %>
