        <section class="hero hero--login" style="background-image: url('<%= asset_path('login-bg.jpg') %>');">
            <div class="login">
                <div class="login__logo">
                    <svg class="icon icon-logo-nav"><use xlink:href="<%= asset_path('sprite-login.svg#icon-logo-nav') %>"></use></svg>
                </div>
                <div class="login__block">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { class: 'login__form' }) do |f| %>
                        <div class="form-group">
                            <span class="input">
                                <%= f.email_field :email, autofocus: true, id: 'imput-1', class: 'input__field form-control', maxlength: '40', size: '20' %>
                                <label class="input__label" for="input-1">
                                    <span class="input__label-content">Email</span>
                                </label>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input">
                                <%= f.password_field :password, autocomplete: "off", id: 'input-2', class: 'input__field form-control', maxlength: '40', size: '20' %>
                                <label class="input__label" for="input-2">
                                    <span class="input__label-content">Password</span>
                                </label>
                            </span>
                        </div>
                        <div class="checkbox">
                            <%= f.check_box :remember_me, id: 'check1', value: 'check1' %>
                            <span><svg class="icon icon-check"><use xlink:href="<%= asset_path('sprite-job-search.svg#icon-check') %>"></use></svg></span>
                            <label for="check1">Remember me</label>
                        </div>
                        <div class="form-group">
                            <%= f.submit "LOGIN", class: "btn__submit btn__secondary" %>
                        </div>
                        <p>Don’t have a account yet? <%= link_to "Sign Up", new_user_registration_path %></p>
                        <div class="login__divider">
                            <span></span>or<span></span>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn__social btn__facebook">
                                <span><svg class="icon icon-facebook"><use xlink:href="<%= asset_path('sprite-login.svg#icon-facebook-small') %>"></use></svg></span>Login with Facebook
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn__social btn__google">
                                <span><svg class="icon icon-google"><use xlink:href="<%= asset_path('sprite-login.svg#icon-google-small') %>"></use></svg></span>Login with Google+</a>
                        </div>
                    <% end %>
                    <div class="login__block-line"></div>
                </div>
            </div>
        </section>

                
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "enquire.min" %>
<%= javascript_include_tag "svgxuse" %>
<%= javascript_include_tag "skrollr.min" %>
<%= javascript_include_tag "classie" %>
<%= javascript_include_tag "main" %>
