<div class="row">
  <div class="col-xs-12 col-sm-6 social-autofill-button"></div>
  <div class="col-xs-12 col-sm-6 input-hint">Fields marked with an asterisk (*) are mandatory</div>
</div>

<div class="row narrow">
  <div class="col-xs-12">
    <%= f.check_box :hidden, class: 'green' %>
    <%= f.label :hidden, 'Hidden Resume' %>
    <div class="hint">Hidden Resumes can be used for applications only</div>
  </div>
</div>
<div class="section-header">1. General Information</div>

<%= render 'listings/fields', f: f %>

<div class="row narrow">
  <div class="col-xs-12 col-sm-6">
    <%= render 'fields/input/text', f: f, field: :objective_raw, placeholder: 'Objective' %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <%= render 'fields/input/text', f: f, field: :skills_raw, placeholder: 'Skills' %>
  </div>
</div>

<div class="row narrow">
  <%= render 'locations/location_fields', object: f.object %>
  <div class="col-xs-12 col-sm-6">
    <%= render 'fields/input/document', f: f, field: :resume, placeholder: 'Resume' %>
  </div>
</div>

<div class="section-header">2. Education</div>

<div id="educations">
  <%= f.fields_for :educations do |education| %>
    <%= render 'education_fields', f: education %>
  <% end %>
  <div class="links add-button-wrapper">
    <%= link_to_add_association 'Add Education', f, :educations, class: 'button' %>
  </div>
</div>
<div class="section-header">3. Work Experience</div>

<div id="work-experiences">
  <%= f.fields_for :work_experiences do |work_experience| %>
    <%= render 'work_experience_fields', f: work_experience %>
  <% end %>
  <div class="links.add-button-wrapper">
    <%= link_to_add_association 'Add Work Experience', f, :work_experiences, class: 'button' %>
  </div>
</div>  
<div class="row narrow">
  <div class="col-xs-12"><%= f.text_field :total_experience, placeholder: 'Total Years of Experience' %></div>
</div>
<% include_script 'resumes-form' %>
